*{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.hamster-image{
    height: 250px;
    width: 350px;
}

header{
    height: 10vh;
    display: flex;
    margin-top: 10px;
    border: 1px solid coral;
}

nav{
    display: flex;
    justify-content: flex-end;
}

article{


}


